.divi8_logo_carousel_item img{
    display: block;
}
.swiper-slide{
    background-color: transparent;
}
.divi8_logo_carousel_item a{
    color: black;
    background-color:#DFDFDF !important;
}
.divi8_logo_carousel_item {
    background-color: #fff;
}

.divi8_logo_carousel .swiper-navi-container{
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	pointer-events: auto;
	z-index: 9;
	margin-right: 23px;
}
.divi8_logo_carousel_item .swiper-button-prev, .swiper-button-next{
	position: relative;
	left: auto;
	right: auto;
}
.divi8_logo_carousel_item .swiper-button-next:after, .swiper-button-prev:after {
	display: none;
}

